

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body{


}

.attribution { 

    font-size: 11px; 
    text-align: center; 
    margin-top: 5%;

}

.attribution a { 
    
    color: hsl(228, 45%, 44%);

}

.white {

    color:white;
    font-weight: 700;
}

.breakdown div {
    height:80px;
    margin: 2% 8%;
    border-radius: 10px;
    padding:3% 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.breakdown > span +  div {
   
    margin-top:5%;
}

.breakdown > span {

    margin:10%;
    font-size:22px;
}

.breakdown div img {
   
    margin-right:5%;

}

.individual-score span {

    color:hsl(224, 30%, 27%);

}

.individual-score span:last-child {

    color:hsla(224, 30%, 27%, 0.5);
}

button {

    width:85%;
    height:80px;
    margin:auto;
    margin-left:7.5%;
    margin-top:3%;
    border-radius:100px;
    border-style: hidden;
    background:hsl(224, 30%, 27%);
    color:white;
    font-size:22px;


}

.activeButton {

    background:linear-gradient(hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1));

}


/* Change max-width to 375 when ready to test for mobile */

   
    /* Final Score Display Box */

    body {

        font-size: 18px;
    }
    .final-score,
    .final-score div{
        
        height:400px;
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        width:100%;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        color: hsla(0, 0%, 100%, 0.7);
        margin-bottom:8%;
        
    }

    .final-score div {

        height:150px;
        background:linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        width:25%;
        border-radius: 50%;
        justify-content: center;

    }

    .final-score > span:first-child {

        padding-top:5%;
    }

    .final-score div > span:first-child {
        font-size: 60px;
    }

    .final-score div + span {

        font-size: 28px;
    }

    .final-score p {

        width:60%;
    }
  
    /* Score Breakdown Section */

    
    .reaction-style {

        background: hsla(0, 100%, 67%, 0.1);
        color: hsl(0, 100%, 67%);
    
    }

    .memory-style {
        
        background:hsla(39, 100%, 56%, 0.1);
        color:hsl(39, 100%, 56%);
    }

    .verbal-style {

        background:hsla(166, 100%, 37%, 0.1);
        color:hsl(166, 100%, 37%);
    }

    .visual-style {

        background: hsla(234, 85%, 45%, 0.1);
        color:hsl(234, 85%, 45%);
    }

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Meda Queries */

@media (min-width: 800px){

    body {

        display:flex;
        justify-content: center;
        margin: 15% 10%;
        
    }

    .final-score {

        width:50%;
        border-radius: 20px;
        height:500px;
        max-width: 400px; 
        
    }

    .final-score span + div {

        width: 150px;
       
    }
    
    .final-score p {
      
    }
    .breakdown {

        width:50%;
        height:400px;
        max-width:400px; 
    
      
    }

    .attribution {
        display:none;
    }
}